# General
.DS_Store
Thumbs.db

# Environments
.env
.env.*
!.env.example
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# IDEs
.vscode/
.idea/

# Project Specific
temp_uploads/
client/dist/
*.pdf
